{% extends 'base_back.html.twig' %}
{% block title %}Bankiz - Publications {% endblock %}

{% block body %}

<h1 class="h3 mb-4 text-gray-800">-Liste des Articles-</h1>
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Gestion des forum</h6>
        </div>
    <div class="card-body">
        <table border="2">

    <table style="margin-right: 20px ; ">
    </table>
            </tr>
            <td>
                <table style="vertical-align:top ; ">
                    <table style="margin-right: 20px ; ">
                        <form action="" method="POST">
                            <tr>
                                <th>
                                    <select value="sortselect" name="sortselect" class="input_back" style="width: 125px;">
                                        <option value="tri_nom">Nom client</option>
                                        <option value="tri_nom">Date</option>
                                        <option value="tri_nom">Categorie</option>
                                    </select>
                                <th><a class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"
                                       style="height: 35px; padding: 6px 15px; " href="{{ path('triNomClient') }}" >Trier Par Nom Client</a></th>
                                <th><a class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"
                                   style="height: 35px; padding: 6px 15px; " href="{{ path('triPublication') }}" >Trier Par Date</a></th>
                                </th>
                                <th><a class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"
                                       style="height: 35px; padding: 6px 15px; " href="{{ path('triCategorie') }}" >Trier Par Categorie</a></th>
                                </th>
                                <th>
                                <th><a class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"
                                       style="height: 45px; padding: 10px 15px; " href="rechercheCategorie_back">Rechercher un Article</a>
                                </th>
                                </th>
                            </tr>
                        </form>
                    </table>

                </table>
            </td>
            <hr>
            <td>
                <div style="width: 100%; overflow: auto">
                    <table style="border:1px solid black;border-collapse:collapse; vertical-align:center; ">
                        <tr class="table" style="border:1px solid black;border-collapse:collapse;">
                            <td>Nom Client</td>
                            <td >Titre publication</td>
                            <td >Description publication</td>
                            <td >Categorie publication</td>
                            <td>Date Publication</td>
                            <td>Image Publication</td>
                        </tr>

    {% for k in formP %}
            <tr style="border:1px solid black;border-collapse:collapse; vertical-align:center; text-align:center;">
                <td>{{ k.getNomClient() }}</td>
                <td>{{ k.getTitrePublication() }}</td>
                <td>{{ k.getDescriptionPublication() }}</td>
                <td>{{ k.getCategoriePublication }}</td>
                <td>{{ k.getDatePublication |date('d-m-Y') }}</td>
                <td><img  src="{{ asset('BackOffice/img/' ~ k.getImagePublication) }}" height="70px" width="100px" ></td>


                <td>
                    <a class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"
                       style="height: 45px; padding: 10px 15px; ">Masquer
                    </a>
                </td>
            </tr>
    {% endfor %}
                        </tr>
                    </table>
                    <tr>
                        <th><a class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"
                               style="height: 45px; padding: 10px 15px; " href="{{ path('ajouterP_back') }}">Ajouter
                            </a></th>
                    </tr>
                </div>
            </td>
        </table>
    </div>

    </div>
    </div>
{% endblock %}