<center>
<button type="button" class="btn btn-primary" style="background-color: #ffc650; border-color: #ffc650;" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@fat">Laisser un commentaire</button>
</center>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ecrire un commentaire</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {{ form_start(form , {'attr':{'novalidate':'novalidate'}}) }}

                {{ form_row(form.id_publication, {'label':'Titre de la publication', 'attr':{'placeholder': 'Titre de la publication'}}) }}
                {{ form_row(form.nom_client, {'label':'Nom de client', 'attr':{'placeholder': 'nom de client'}}) }}
                {{ form_row(form.description_commentaire, {'label':'Description', 'attr':{'placeholder': 'Description de votre commentaire'}}) }}

                <button type="submit" class="btn btn-success">Envoyer le commentaire</button>

                {{ form_end(form) }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" style="background-color: #ffc650; border-color: #ffc650;" data-bs-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>